.r {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px
}
.no-gap {grid-gap:0 !important;}
.bcg-item {
    grid-column: span 6;
    padding: 10px
}

.full-item {
  grid-column: span 12;
  padding: 10px;
}

[class*="c-"] {
    grid-column: span 12;
    padding: 10px
}

 /* 600px */
@media only screen and (min-width: 40rem) { 
    
    .c-50 {
        grid-column: span 6;
    }
    .c-25 {
        grid-column: span 3;
    }    
    .c-75 {
        grid-column: span 9;
    }    
    .c-100 {
        grid-column: span 12;
    }  
  
    .c-1 {
        grid-column: span 1
    }

    .c-2 {
        grid-column: span 2
    }

    .c-3 {
        grid-column: span 3
    }

    .c-4, .bcg-item {
        grid-column: span 4
    }


    .c-5 {
        grid-column: span 5
    }

    .c-6 {
        grid-column: span 6
    }

    .c-7 {
        grid-column: span 7
    }

    .c-8 {
        grid-column: span 8
    }

    .c-9 {
        grid-column: span 9
    }

    .c-10 {
        grid-column: span 10
    }

    .c-11 {
        grid-column: span 11
    }

    .c-12 {
        grid-column: span 12
    }
  
}



 /* 600px - 800px */

@media only screen and (max-width: 52rem) and (min-width: 40rem) {
    

    .c-50 {
        grid-column: span 6;
    }
    .c-25 {
        grid-column: span 3;
    }    
    .c-75 {
        grid-column: span 9;
    }    
    .c-100 {
        grid-column: span 12;
    }
    
}

pre, code {white-space: normal;font-family: monospace;margin-bottom:1rem;background:#f3f3f3;padding:.5rem;margin: 1rem 0 !important;}
blockquote {border-left: 3px solid #d6d6d6;padding:0 .5rem !important;margin:0 1.5rem !important;font-weight: 300 !important;}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

.featured-image {
  max-height: 55vh;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}
.container .single .post-content {
  line-height: 1.618;
  color: #222;
}
.single .post-content img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.single .post-content p {
  margin-bottom: 1rem;
}
.single .post-content ul,
.single .post-content ol {
  margin-bottom: 1.5rem;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #000;
  margin-bottom: 0.5rem;
}
.single {
  max-width: 1200px;
  margin: 0 auto;
}
.search:focus {
  outline: none;
}
.footer__heading {
  text-transform: uppercase;
}

nav .r {
  grid-gap: 0;
}
.r.full-height {
  grid-gap: 0;
}
@media only screen and (max-width: 40rem) {
  .main-title {
    font-size: 2rem;
  }
  .xs-collapse {
    visibility: hidden;
    visibility: collapse;
    border: 0 !important;
    border-color: none !important;
    padding: 0 !important;
  }
  .xs-visible {
    visibility: visible;
  }
}